{% extends 'home.html' %}
{% block content%}



{% if carts %}
<h1>Cart</h1>
<form method="POST" action="{% url 'cart_remove_item' %}">
  {% csrf_token %}
  <ul>
    {% for cart in carts %}
      <li>
        <h2>{{ cart.restaurant.name }}</h2>
        <ul>
          {% for cart_item in cart.items.all %}
          <li>
            {{ cart_item.quantity }} x {{ cart_item.dish_name }} - {{ cart_item.total_price }}
            <button type="submit" name="cart_item_id" value="{{ cart_item.id }}">Remove</button>
            
          </li>
        {% endfor %}
        <h3> Total Price: {{ cart.get_total_price}}</h3>
        </ul>
      </li>
    {% endfor %}
  </ul>
</form>


  <form action="{% url 'cart_delete' %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete Cart</button>
  </form>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}

<br></br>
{% for cart in carts %}
    ...
    <form action="{% url 'checkout' cart_id=cart.id %}" method="post">
      {% csrf_token %}
      <button  type='submit' >Checkout</button>
       </form>
 


    
{% endfor %}

{% endblock %}

