{% extends 'home.html' %}
{% block content%}


<h1>{{ restaurant.name }}'s Menu</h1>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<ul>
  {% for item in menu_items %}
  <div>
    <h3>{{ item.dish_name }}</h3>
    
    <p>{{ item.price }}</p>
    <form action="{% url 'add_to_cart' restaurant_id=item.restaurant.id menuitem_id=item.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Add to Cart</button>
      
    </form>
  </div>

{% endfor %}


</ul>

{% endblock%}